

body{
    font-family: 'League Spartan', sans-serif;
}
/* header styles */

.header-wraper{
    width: 100%;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.nav-div ul {
    display: flex;
    flex-direction: row;
    gap: 27px;
    align-items: center;
}

.logo-div a{
    color: #FA6980;
    font-weight: bold;
}

.ul-li li:not(:last-child) a{
    color: #343638;
    opacity: 50%;
    font-weight: bold;
    line-height: 20px;
}

.ul-li li a:hover{
    color: #343638;
    opacity: 100%;
    font-weight: bold;
    
}


/* FIRST SECTION */

.first-section-wraper{
    width: 100%;
    display: flex;
}



.main-img-wraper{
    width: 55%;
    background-image: url(./imgs/mainImgs/night.jpg);
    background-size:cover;
    background-position: center;
    height: 640px;
}

.banner-text-wraper{
    width: 60% ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15% auto;
    
}
.banner-text-wraper h2{
    border-bottom: solid 2px white;
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
}


.banner-text-wraper h3{
    padding-top: 40px;
    font-size: 24px;
    font-weight: bold;
}


.banner-text-wraper p{
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
}

.pink-btn{
    background-color:#FA6980 ;
    border-radius: 6px;
    padding: 16px 30px;
    color: white;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    
}

.pink-btn:hover{
    opacity: 70%;
}

.more-news-wraper{
   width: 45%;
   padding: 100px;
}


/* SECOND SECTION  */
.more-news-wraper{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider h2{
    font-weight: bold;
    font-size: 24px;
}

.fa-solid{
    color: #707070;
    cursor: pointer;
   
}

.fa-solid:hover{
    opacity: 30%;
}

.arrows{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.slider {
    border-bottom: 2px solid #EBEDED ;
    padding-bottom: 40px;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article h3{
    color: #FA6980;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.article h4{
    color: black;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.article p{
    color: #A6ADB4;
    line-height: 26px;
}

.seen-status{
    color: #A6ADB4;
   font-size: 13px;
}

/* third section */
.sliders-section, .slider-section-second{
    padding: 50px 140px;
    background-color: #E4E4E4;
}

.slider-title-wr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.slider-title-wr h2{
    font-weight: bold;
    font-size: 24px;
}
.cities-wraper{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}

.img-size{
    width: 100%;
    height: 280px;
    margin-bottom: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.box-item{
display: flex;
flex-direction: column;
gap: 15px;
width: 30%;
background-color: white;
border-radius: 8px;
padding-bottom: 2rem;

}

.box-item h3{
    
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 40px ;

}

.box-item p {
    color: #A6ADB4;
    padding: 0 40px ;
}

/* eveants section */

.evants-wraper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    width: 100%;
}

.first-block{
    width: 70%;
}

.box1{
    width: 100%;
    height: 530px;
    background-image: url(../css/imgs/mainImgs/box1.jpg);
    background-position: top;
    background-size: cover;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 8px;
}

.box1 .txt-div, .box3 .txt-div{
    margin-top: 35%;
    line-height: 20px;  
    color: white;
}
.box1>h3, .box3>h3{

    color: white;
    line-height: 26px;
    font-size: 36px;
    font-weight: bold;
}


.box3 {
    width:100%;
    height: 530px;
    background-image: url(../css/imgs/mainImgs/svaneti.jpg);
    background-position: top;
    background-size: cover;
    padding: 40px;
    border-radius: 8px;
}
.boox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    
}

.boox>div{
    display: flex;
    flex-direction: column;
    gap: 17px;
}


.boox div img{
    width: 100%;
    border-radius: 8px;
}


 /* FOOOTER */
 footer{
    background-color: #A6ADB4;
    padding: 54px 140px;
    display: flex;
    justify-content: space-between;
 }
footer div:last-child i{
    color: white;
    margin-left: 2rem;
}

.ft-logo{
    color: white !important;
    font-size: 20px;
    line-height: 26px;
}
 .menu-items-wraper{
    display: flex;
    margin-left: 2rem;
    font-weight: bold;
 }

 .menu-items a{
    color: #CBD0D3;
    font-size: 20px;
 }

 .menu-items{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    line-height: 26px;
    color: #CBD0D3; 
 }
.subscrb-container {
    position: relative;
    display: inline-block;
}
 .subscrb-container input{
    background-color: none;
    border: none;
    outline: none;
    padding: 12px;
    width: 400px;
    background-color: inherit;
    border: solid 3px #CBD0D3;
    border-radius: 6px;
    margin-bottom: 1rem;
 }


 .subscrb-container input::placeholder, .subscrb-container p{
    color: #CBD0D3;
    font-size: 1rem;
 }

 .fa-paper-plane{
    position:absolute;
    top: 23%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    color: white;
 }
