

body{
    font-family: 'League Spartan', sans-serif;
}

.pink-btn{
    background-color:#FA6980 ;
    border-radius: 6px;
    padding: 16px 30px;
    color: white;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
    
}

.pink-btn:hover{
    opacity: 70%;
}

/*  HEADER STYLES */

.header-wraper{
    width: 100%;
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
}

.nav-div ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.logo-div a{
    color: #FA6980;
    font-weight: bold;
}

.ul-li li:not(:last-child) a{
    color: #343638;
    opacity: 50%;
    font-weight: bold;
    line-height: 20px;
}

.ul-li li a:hover{
    color: #343638;
    opacity: 100%;
    font-weight: bold;
    
}


/* FIRST SECTION */

.first-section-wraper{
    width: 100%;
    display: flex;
}

.main-img-wraper{
    width: 55%;
    background-image: url(./imgs/mainImgs/night.jpg);
    background-size:cover;
    background-position: center;
    height: 640px;
}

.banner-text-wraper{
    width: 60% ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15% auto;
    
}
.banner-text-wraper h2{
    border-bottom: solid 2px white;
    padding-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
}


.banner-text-wraper h3{
    padding-top: 40px;
    font-size: 24px;
    font-weight: bold;
}


.banner-text-wraper p{
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
}


.more-news-wraper{
   width: 45%;
   padding: 100px;
   display: flex;
   flex-direction: column;
   gap: 40px;
}


/* SECOND SECTION city slider */

.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #EBEDED ;
    padding-bottom: 40px;
}

.slider h2{
    font-weight: bold;
    font-size: 24px;
}

.fa-solid{
    color: #707070;
    cursor: pointer;
}

.fa-solid:hover{
    opacity: 30%;
}

.arrows{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article h3{
    color: #FA6980;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.article h4{
    color: black;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.article p{
    color: #A6ADB4;
    line-height: 26px;
}

.seen-status{
    color: #A6ADB4;
    font-size: 13px;
}


.sliders-section, .slider-section-second{
    padding: 50px 140px;
    background-color: #E4E4E4;
}

.slider-title-wr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.slider-title-wr h2{
    font-weight: bold;
    font-size: 24px;
}
.cities-wraper{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}

.img-size{
    width: 100%;
    height: 280px;
    margin-bottom: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.box-item{
display: flex;
flex-direction: column;
gap: 15px;
width: 30%;
background-color: white;
border-radius: 8px;
padding-bottom: 2rem;


}

.box-item h3{
    
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 40px ;

}

.box-item p {
    color: #A6ADB4;
    padding: 0 40px ;
}

.box-item {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .box-item.show {
    opacity: 1;
    transform: translateX(0);
  }
  

/* THIRD SECTION  BEST HIKING LOCATIONS */

#hikingSlider{
    width: 100%;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    
}

.first-block{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.box1{
    width: 100%;
    height: 430px;
    background-image: url(../css/imgs/mainImgs/box1.jpg);
    background-position: top;
    background-size: cover;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 8px;
    
}

.box3 {
    width:100%;
    height: 430px;
    background-image: url(../css/imgs/mainImgs/svaneti.jpg);
    background-position: top;
    background-size: cover;
    padding: 40px;
    border-radius: 8px;
}

.box1 .txt-div, .box3 .txt-div{
    margin-top: 220px;
    line-height: 26px;  
    color: white;
    font-size: 16px;
    
    
}


.box1 .txt-div h4, .box3 .txt-div h4{
    margin-top: 150px;
    line-height: 34px;  
    color: white;
    font-size: 24px;
    font-weight: bold;
    
    
}
.box1>h3, .box3>h3{
    color: white;
    line-height: 26px;
    font-size: 36px;
    font-weight: bold;
}


.second-block {
    width: 35% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
   
}

.second-block>div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.second-block div img{
    width: 100%;
    border-radius: 8px;
    height: 220px;
}


 /* FOOOTER STYLES */
 footer{
    background-color: #A6ADB4;
    padding: 54px 140px;
    display: flex;
    justify-content: space-between;
 }
footer div:last-child i{
    color: white;
    margin-left: 1rem;
}

.ft-logo{
    color: white !important;
    font-size: 20px;
    line-height: 26px;
}
 .menu-items-wraper{
    display: flex;
    margin-left: 2rem;
    font-weight: bold;
 }

 .menu-items a{
    color: #CBD0D3;
    font-size: 20px;
 }

 .menu-items{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    line-height: 26px;
    color: #CBD0D3; 
 }
.subscrb-container {
    position: relative;
    display: inline-block;
}
 .subscrb-container input{
    background-color: none;
    border: none;
    outline: none;
    padding: 12px;
    width: 300px;
    background-color: inherit;
    border: solid 3px #CBD0D3;
    border-radius: 6px;
    margin-bottom: 1rem;
 }

 .subscrb-container input::placeholder, .subscrb-container p{
    color: #CBD0D3;
    font-size: 1rem;
 }

 .fa-paper-plane{
    position:absolute;
    top: 23%;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    color: white;
 }

 /* POP UP */

 .pop-up-wraper{
    width: 500px;
    height: 300px;
    background-image: url(./imgs/mainImgs/poop.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: 998;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    display: none;
 }


 .pop-up-wraper.popAct {
    display: block;
}
.pop-up-icon{
    cursor: pointer;
}

.close {
    position: absolute;
    top: 1.1rem;
    right: .6rem;
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
}

.close:hover{
    color: #EBEDED;
}


/* DISCOVERY NEW PAGE */

.discovery-body {
    background-color: #F6F8F9;
}
.form-section-wraper{
    display: flex;
    background-color: white;
    border-radius: 6px;
}

.discovery-main{
    padding: 40px 140px;
    width: 100%;
}

.form-img-wraper{
    width: 50%;
    height: 600px;
    background-image: url(./imgs/mainImgs/box4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 6px;
}

.form-baner-text-wraper{
    text-align: center;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.form-baner-text-wraper h3{
    font-size: 35px;
    font-weight: bold;
    line-height: 42px;
    letter-spacing: 2px;
    color: white;
    border-bottom: 5px solid white;
    border-radius: px;
    padding-bottom: 10px;
}

.form-baner-text-wraper p{
    margin-top: 15px;
    color: white;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 2px;
}

.form-wraper {
    padding: 127px 110px;
    width: 50%;
}

.form-div{
    display: flex;
    flex-direction: column;
}

.form-div label{
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px ;
}

.form-div select, .form-div input{
    padding-left: 15px;
    border: none;
    border-radius: 6px;
    border: 2px solid #EBEDED;
    color: #5e7070 ;
    font-weight: bold;
    height: 40px;
    margin-bottom: 40px ;
    outline: none;
   
}

/* kvanchkara ARTICLE */

.text-container {
    column-count: 3;
    column-gap: 20px; 
    width: 80%;
    margin: 0 auto; 
    line-height: 26px;
    color: #A6ADB4;
  }

 .text-section {
    display: flex;
    align-items: center;
    margin: 60px 0;
    
 }

 .fa-wine-glass{
    margin-left: 50%;
    font-size: xx-large;
    
 }

 .text-section .article-title{
    letter-spacing: 1px;
   font-weight: bold;
   margin-left: 10px;
   font-size: 26px;
   margin-top: 10px;
 }

 .article-img{
    width:100% ;
    height: 500px;
    background-image: url(./imgs/mainImgs/racha.jpg);
    background-position:center;
    background-size: cover;
    border-radius: 6px;
    margin-bottom: 40px;
 }

 .article-wraper{
    line-height: 26px;
    color: #A6ADB4;
    letter-spacing: 1px;
 }


 /* API NEW PAGE STYLES */

 .api-elements-wraper{
    margin: 50px 50px ; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
 }

 .element-wraper{
    width: 20%;
    background-color: pink;
    border-radius: 8px;
    padding: 10px;
 }

 .element-wraper h2{
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
 }

 .number-wraper {
   text-align: center;
   font-weight: bold;
   font-size: x-large;
 }

 .api-btns-wraper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 100px ; 
 }

#previous-more-btn:disabled{
    opacity: 0;
}


#load-more-btn:disabled{
    opacity: 0;
}


/* RESPONSIVE DESIGN */

@media (max-width:1024px){
    .pop-up-wraper{
        display: none;
    }

    .first-section-wraper{
        flex-direction: column;
    }

    .main-img-wraper{
        width: 100%;
    }

    .more-news-wraper{
        width: 100%;
    }
    .more-news-wraper .more-news-articles{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .slider{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px solid #EBEDED ;
        padding-bottom: 40px;
    }

    .evants-wraper{
        flex-direction: column;
    }

    
   .first-block{
    display: flex;
    flex-direction: column;
    width: 100%;
    }

    .second-block {
        width: 100% ;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
        
    }

    .second-block .box2{
        display: none;
    }

    footer{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;

    }
    /* city slider */
.box-item { 
    width: 46%;
}

.img-size{
    width: 100%;
    height: 180px;
}


    /* api media */

    
 .api-elements-wraper{
    
    margin: 50px 50px ; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
 }

 .element-wraper{
    width: 30%;
    background-color: pink;
    border-radius: 8px;
    padding: 10px;
 }

  /*  */

}